/* fonts */
body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif; /* apply font stack to body element so all components inherit*/
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; /* changes font for header section */
}