/* Text formatting */
html{
    font-size: 100%; 
}

body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5; /*multiplier - times font size (keeps consistency) */
}


/* vertical spacing - makes H1 closer to body text */
h1{
    margin: 3rem 0 1rem; /* trbl (top, right, bottom, left) */
    letter-spacing: -1px; /* makes letters closer */
}

/* formatting text */
p {
    width: 50ch; /* ch = width of 0 character - Ex. 50 ch = 50x0 char */
    text-align: center;
    text-indent: 1rem;
    text-decoration: line-through; /* strike through - showing prices no longer valid */
    text-transform: capitalize; /* capitalize every word - good for headings*/
    column-count: 2; /* makes text into two columns */
    column-gap: 2rem; 
    column-rule: 3px dotted #999;

}

