/* Google Fonts */
body {
    margin: 10px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif; /* Google fonts */
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif; /* Google fonts */
}

/* styling fonts */
p {
    font-style: normal; /* makes font italic */
    font-size: 1rem; /* can use absolute values too like 30px */
    color: #444; /* font color #444 (dark grey) */
}
