/* Images CSS */

/* Scaleable vector graphic (SVG) icons, logos, backgrounds  */
body{
    background: url(/images/constellation.svg);
}

.ufo{
    width: 50vw;
}

.icon{
    font-size: 2rem;
    color: dodgerblue;
}

