/* Universal Selector - apply sizing border-box to all HTML elements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* HTML root element - set font-size of root -> 62.5% of 16pt = 10pt font */
html {
    font-size: 62.5%
}

body {
    margin: 10px;
    width: 300px;
    font-size: 10;
}

/* Box Model - Margins and Padding*/
p {
    padding: 20px; /*top, right, bottom, left (trbl) */
    border: 5px solid gold;
    margin: 0;
}

.example {
    margin: 20px;
    padding: 20px;
}

/* Sizing Elements */
.box {
    width: 100px;
    height: 100px;
    background: gold;
    display: inline-block
}

.box::before{
    content: "hello"; 
}

.boxOverFlow {
    border: 3px solid gold;
    width: 150px;
    height: 150px;
    overflow: hidden auto;
}

.boxAbsolute {
    width: 100px;
    height: 100px;
    background-color: gold;
    border-top: 3px solid orange;
}

/* % of parent element */
.boxRelative {
    width: 50%; /* vw are view-width */
    height: 100vh; /* vh view-height ex. 100% of viewport (available screen) */
    background-color: gold;
    border-top: 3px solid orange;
}


/* em units - ex. 10em = 10x font size of current element -> 10 x 16px (default) = 160px*/
.boxText {
    width: 10em;
    height: 50vh;
    background-color: gold;
    border-top: 3px solid orange;
}

/* em units - sizing relative to font size -  ex. 10em = 10x font size of current element -> 10 x 16px (default) = 160px*/
.box2Text {
    width: 10rem;
    height: 50vh;
    background-color: gold;
    border-top: 3px solid orange;
}


