/* type selectors */
  body {
    margin: 10px;
  }

  /* id selector - only one element per id */
  #products {
    color:yellow;
  }

    /* relational selector  */
    #products p {
      color:blue;
    }

   /* class selector - can have multiple elements w/ same class */
   .Review {
     background-color: green;
   }

     /* attribute selector  */

    a[href^="https"][href*="google"] {
      background-color: red;
    }

    .first {
      font-size: 140%;
      font-style: italic;
    }

    /* pseudoclass selector -firstChild (fragile)  */
    article :first-child {
      font-size: 140%;
      font-style: italic;
    }

    /* pseudoclass selector - firstoftype - applied to first elements of type */
    article :first-of-type {
      font-size: 140%;
      font-style: italic;
    }

     /* pseudoclass selector - firstoftype - applied to first type p in container */
     article p:first-of-type {
      font-size: 140%;
      font-style: italic;
    }

    article :last-child{
      font-weight: bold;
    }

     /* pseudoclass selector - targets all odd elements in unordered list */
     ul li:nth-child(odd){
       color: deeppink
     }

     /* pseudoclass selector */
     a:visited, a:link{
       color: dodgerblue;
     }

    /* pseudoclass selector */
     a:hover, a:focus {
       color: green;
     }
    
     /* class selector */
     .first-letter {
       font-size: 140%;
       font-weight: bold;
     }

     /* pseudo-element selector - sets first letter of H1 to bold*/
     h1::first-letter{
      font-size: 140%;
      font-weight: bold;
     }

     /* pseudo-element selector - puts first line of paragraph element to bold */
     p::first-line {
       font-weight: bold;
     }

     /* pseudo-element selector - highlight when selecting */
     ::selection{
       background-color: pink;
     }

     /* pseudo-element selector - insert content after element*/
     p::after{
      content:"...";
      display: block;
    }

    /* selector specificity - specific to general (id, class / attribute, elements)*/

    /* element selector - h1 is general and overridden by more specific selectors*/
    h1 {
      color: dodgerblue;
    }

    /* class selector - element is more specific and overrides general selectors*/
    .highlight {
      color: deeppink;
    }

    /* id selector - most specific single selector - 100 score*/
    #name {
      color: green;
    }

     /* element + id selector - 101 score*/
     h1#name {
       color: dodgerblue;
     }

     /* class + id selector - combined selectors for more specificity- 110 score */
     .highlight#name {
      color: deeppink;
    }
